*:focus{
	outline: none;
}
body,div,ul,li,h1,h2,h3,p,span{
    margin: 0;
    padding: 0;
}
body{
	font:12px/1.7 "微软雅黑",sans-serif;
    letter-spacing: 1px;
	background: #f3f3f3;
	color: #999;
}
::selection {
  color: #fff;
  color: rgba(255,255,255,.85);
  background: #cee3f2;
}
.clearfix:after,.clearfix:before{
	content:"";
	display:table;/*用这种方法，此处必须用table，用block没用*/
}
.clearfix:after{
	clear: both;
}
.clearfix{
    *zoom:1;
}
.container{
	width: 1100px;
	margin: 0 auto;
}
.line{
	float: left;
	color: #E5E5E5
}
li{
	list-style: none;
	float: left;
}
a:link{
	text-decoration: none;
}
a:hover{
	color: #009FC6;
}
img{
	border: 0;
}
/* main.css */
.top{
	background: #F9F9F9;
	line-height: 30px;
}
.wel{
    float: left;
}
.top ul{
	height: 30px;
    margin-left: 830px;
    line-height: 30px;
}
.top ul li{
	margin-left:20px;
	line-height: 30px;
}
.top ul li a{
	color: #A5A5A5;
}
.top ul li a:hover{
	color: #42CC79;
}
.nav{
	padding-top: 10px;
	background: #fff;
}
.logo{
	float: left;
}
.nav ul{
	margin-left: 786px;
	margin-top: 20px;
}
.nav ul li{
	margin-right: 30px;
	line-height: 36px;
}
.nav ul li a{
    color: #333;
	font-size: 18px;
}
.nav ul li a:hover{
	color: #42CC79;
}
.nav ul .active{
	height: 36px;
	width: 110px;
	background: #42CC79;
	border-radius: 3px;
	text-align: center;
	line-height: 36px;
}
.nav ul .active a{
	color: #fff;
}
.nav ul .active a:hover{
	color: #ccc;
}
/* 内容部分 */
.main{
	margin-top: 30px;
}
.main .container{
	background: #fff;
}
.main .left{
	background: rgb(235,235,235);
	padding-top: 30px;
}
.main .left li{
	background: rgb(250,250,250);
}
.user-img{
	width: 80px;
	height: 80px;
	margin:0 auto; 
	border-radius: 50%;
}
.user-img img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.user-name{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 30px;
}
.geren-cen{
	font-weight: bold;
}
/*左侧*/
.left{
	float: left;
}
.left a{
	color: #000;
}
.left li a{
	display: block;
	margin:0 auto;
	width: 200px;
	height: 28px;
}
.left a:hover{
	color: #666;
	border: 1px dashed #77A4E7;
}
.right{
	float: left;
	padding-top: 30px;
	padding-left: 40px;
	color: #666;
}
.right .yue{
	float: left;
	width: 230px;
}
.right .yue h1{
	font-size: 20px;
}
.right .yue h2{
	font-size: 30px;
}
.right .yue-act{
	margin-left: 620px;
	margin-top: 10px;
}
.right .yue-act a{
	color: #fff;
}
.right .czh,.right .tx{
	display: block;
	float: left;
	width: 90px;
	height: 30px;
	margin-right:10px;
	border-radius: 2px;
	text-align: center;
	line-height: 30px;
}
.right .czh{
	background: #42CC79;
}
.right .tx{
	background: #39A1EA;
}
.right .line{
	width: 830px;
	height: 2px;
	margin:20px auto 0 auto;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
}
.right  h3{
	height: 30px;
	margin-top: 30px;
	color: #000;
	font-size: 16px;
	font-weight: bold;
}
.right .xq li{
	width: 200px;
	height: 20px;
	margin-top: 14px;
	font-size: 14px;
}
.right h4{
	width: 800px;
    margin-top: 50px;
    font-weight: normal;
	text-align: center;
}
.right .right-con{
	width: 100%;
}
.right .right-con2{
	width: 820px;
	border-top: 4px solid #42CC79;
}
.right .right-con2 .tips{
	width: 700px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px 20px 20px 50px;
    background: #F5F5F5;
    border-radius: 10px;
}
.right .right-con2 .tips li{
	list-style: disc;
	font-size: 14px;
}
.right .right-con2 span{
	display: inline-block;
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.right .right-con2 .inNum{
	width: 220px;
	height: 50px;
	font-size: 20px;
	padding: 0 20px;
	border: 1px solid #42CC79;
	border-radius: 5px;
	background: url(../images/yuan.png) no-repeat 220px 12px;
}
.right .right-con2 .submit{
	width: 150px;
	height: 50px;
	margin-left: 10px;
	color: #fff;
	font-size: 14px;
	background: #3ACA8F;
	border-radius: 5px;
}
.right .right-con2 h5{
	margin: 14px 0;
}
.right .zjrzh{
	width: 760px;
	background: #F0FCFF;
	padding: 20px;
	border: 1px solid #E3E3E3;
	border-radius: 5px;
}
.right .zjrzh .yue{
	width: 100%
}
.right .zjrzh .yue-con{
	height: 40px;
	font-size: 20px;
}
.right .zjrzh span{
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #42CC79;
}
.right .zjrzh ul{
	padding: 10px 0;
}
.right .zjrzh li{
	font-size: 14px;
	width: 250px;
}
.right .zjrzh li a{
	color: #fff;
}
.right .zjrzh .zj .line2{
	border-top: 1px solid #DDD;
}
.right table{
	margin-top: 30px;
	font-size: 14px;
	border-collapse: collapse;
	text-align: center;
}
.right table th{
	height: 36px;
	background: #F9F9F9;
	text-align: center;
	border:1px solid #ccc;
}
.right table td{
    height: 36px;
    line-height: 36px;
    border:1px solid #ccc;
}
.right .dktj td{
    width: 200px;
}
.edit{
	width: 100%;
	height: 34px;
}
.edit a{
	float: right;
	display: inline-block;
	width: 100px;
	height: 32px;
	background: #39A1EA;
	color: #fff;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	border-radius: 3px;
}
.edit a:hover{
	color: #fff;
	background: #2375AF;
}
.geren-con{
	width: 100%;
}
.geren-pic{
	float: left;
	width: 120px;
}
.detail{
	float: left;
	margin-left: 100px;	
}
.detail ul{
	float: none;
}
.detail li{
	width: 200px;
	margin-right: 100px;
	margin-bottom: 14px;
	font-family: "微软雅黑";
	font-size: 14px;
}
.detail li label{
	width: 10px;
	color: #f00;
}
.detail li img{
	margin: 2px 4px 0 4px;
}
.detail li a{
	color: #39A1EA;
}
.edit .p1{
	float: left;
	width: 500px;
}
.edit .p2{
	float: left;
	width: 300px;
}
.edit .p1 ul{
	width: 500px;
}
.edit li{
	float: none !important;
	font-size: 14px;
	font-family: "微软雅黑";
	height: 60px;
}
.edit .p2 {
	padding-top: 30px;
}
.edit .p2 .sqdk{
    background: #4CC3A5;
    margin-left: 10px;
}
.edit .p2 .sqdk:hover{
	background: #289D7F;
}
.right .xinyong img{
   margin-top: 10px;
}
.right .xinyong td{
	padding: 0 14px;
}
.right .xinyong .xinyong-con img{
	width: 30px;
	height: 30px;
	margin-top: 0;
}
.right .xinyong .xinyong-con td{
	padding: 0 30px;
}
.right .xinyong .xinyong-con span{
	height: 30px !important;
	width: 30px !important;
	color: #42CC79;
}
.right .xinyong .bg1{
    background: #f9f9f9;
}
.right .xinyong .bg2{
	background: #f6f6f6;
}
/* 安全信息 */
.right .aqxx{
	padding-left: 20px;
	font-family: "微软雅黑";
	border-bottom: 1px solid #eee;
}
.right .aqxx li{
	padding: 20px 0;
	height: 30px;
	line-height: 30px;
}
.right .list1{
	width: 30px;
	color: #42CC79;
	font-size: 24px;
}
.right .list2{
	width: 100px;
	font-size: 20px;
	margin-right: 80px;
}
.right .list3{
	width: 200px;
    font-size: 14px;
    margin-right: 230px;
}
.right .list3 b{
	color: #42CC79;
	font-weight: normal;
}
.right .list4{
	text-align: right;
	width: 100px;
    font-size: 14px;
    color: #aaa;
}
.right .list4 a{
	color: #39A1EA;
}
/* 个人消息 */
.right .grxx ul{
	background: #F9F9F9;
	padding: 10px;
	cursor: pointer;
	border-radius: 5px;
}
.right .grxx li{
	margin-right: 30px;
}
.right .grxx-icon{
	font-size: 42px;
	color: #FF5400;
}